body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
}

html {	
  width: 100%;
  height: 100%;	
  background-color: orange;
}

#root {

  width: 100%;
  height: 100%;	
  background-color: green;
}

.app-css {
  
  background-color: red;
  height: 100%;
  width: 100%;
}

.left-css {
  
  background-color: yellow;
  height: 100%;
  
}

.middle-css {
 
  background-color: blue;
  height: 100%;
  
}
