body {
  
}

body,
html,
#root {
  width: 100%;
  height: 100%;
  background-color: blue;
}

.app-css {
  
  background-color: red;
  height: 100%;
  width: 100%;
}

.left-css {
  
  background-color: yellow;
  height: 100%;
  width: 20%;
 
}

.middle-css {
  
  background-color: blue;
  height: 100%;
  width: 80%;
  right:0;
}
