body {
  
  width: 100%;
  height: 100%;
  
}

html {	
  width: 100%;
  height: 100%;	
}

.width-height-full {
  width: 100%;
  height: 100%;	
}

#root {
  width: 100%;
  height: 100%;	
}

.login-css {
  position: absolute;
  width:  20%;
  height: 30%;
  left:  40%;
  top:   35%;
}

.login-input-css {
  font-size: 22px;
  width:  100%;
}

@media only screen and (max-width: 768px) {
  .login-css {
    width:  70%;
    left:  15%;
  }
}

.left-css {
  overflow: auto;
  background-color: #e8e8e8;
  height: 100%;
 
/*  alternative to col-xx-xx
  position: fixed;
  left:0;
  width: 20%;    
  top:0;
  bottom:0;
*/
}

.middle-css {
  padding: 50px;
  overflow: auto;
  /*background-color: blue;*/
  height: 100%;
    
/*  alternative to col-xx-xx
  position: fixed;
  right:0;
  width: 80%;  
  top:0;
  bottom:0;
*/
}

.message-list {
  overflow: auto; 
  height: 75%;
}

.message-chat {
  border-style: solid;
  border-color: #efe164;
  border-radius: 15px 35px;
  margin: 5px;
  
 /* height: 90px;*/
  font-size: 2vmin;
  /*background-color: grey;*/    

  animation-name: message-chat-animation;
  animation-duration: .3s;
}

.message-announcement {
  color:#ed631a;
  height: 45px;
  font-size: 3vmin;
  text-align: center;
  /*background-color: grey;*/    

  animation-name: message-announcement-animation;
  animation-duration: .3s;
}

.type-area {

  height: 15%;
  font-size: 2vmin;
  
}

.input-image-css {

}

.input-image-css:hover {
  cursor: pointer;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.member {
  border-style: solid;
  border-color: #30c6d1;
  border-radius: 10px;
  height: 40px;
  font-size: 2vmin;
  text-align: center;
  /*background-color: grey;*/    
}


@keyframes message-chat-animation
{
0% {transform:   translate(-200px);}
10% {transform:  translate(-180px);}
20% {transform:  translate(-160px);}
30% {transform:  translate(-140px);}
40% {transform:  translate(-120px);}
50% {transform:  translate(-100px);}
60% {transform:  translate(-80px);}
70% {transform:  translate(-60px);}
80% {transform:  translate(-40px);}
90% {transform:  translate(-20px);}
100% {transform: translate(0px);}
}

@keyframes message-announcement-animation
{
0% {transform:   translateY(-20px);}
10% {transform:  translateY(-18px);}
20% {transform:  translateY(-16px);}
30% {transform:  translateY(-14px);}
40% {transform:  translateY(-12px);}
50% {transform:  translateY(-10px);}
60% {transform:  translateY(-8px);}
70% {transform:  translateY(-6px);}
80% {transform:  translateY(-4x);}
90% {transform:  translateY(-2px);}
100% {transform: translateY(0px);}
}


